@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
p,
a {
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 14px/1.5;
}

.site-header {
  display: flex;
  justify-content: space-between;
  background: black;
}
.logo img {
  width: 80px;
}

.site-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-nav ul {
  display: flex;
  gap: 1em;
  margin-right: 1em;
  list-style: none;
}

.site-nav ul li a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
}

.main-header {
  background-color: #1db954;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.main-header h3 {
  margin: 0;
}

.music-plans {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #1db954;
}

.plan {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  position: relative;
  border: 1px solid;
}

.plan ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  margin-bottom: 10px;
}

.plan ul li {
  margin-bottom: 10px;
}

.plan button {
  background-color: #1db954;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.plan p {
  margin: 10px 0;
}

.plan .price {
  font-weight: bold;
  font-size: 1.2em;
}

section .music {
  z-index: 1;
  width: 30%;
  margin-top: -100px;
}

.dogopal-description image {
  width: 100%;
}
.dogopal-description {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.dogopal-description h3 {
  color: #000;
}

.dogopal-description ul {
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
}

.dogopal-description img {
  margin-top: -50px;
  width: 350px;
}

.expirance {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  margin: 20px auto;
  width: 80%;
}

.expirance h3 {
  color: #000;
}

.expirance p {
  margin-bottom: 20px;
}

.expirance table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

.expirance h2 {
  padding-bottom: 1em;
}

.expirance th,
.expirance td {
  padding: 10px;
  text-align: center;
}

.expirance td img {
  width: 20px;
}

tbody tr:nth-child(odd) {
  background-color: rgb(204, 203, 203);
}

tbody tr:nth-child(even) {
  background-color: rgb(129, 216, 160);
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
