header,
section,
footer {
    border: 1px solid rgb(211, 211, 211);
    margin: 20px;
    padding: 3em;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: black;
    
    margin: 0.5em;
}