@media (max-width: 600px) {

    .header-title {
        padding: 0;
    }

    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
    }

    header nav ul li {
        display: inline;
        padding: 0.5em;
    }

    header nav ul li a {
        text-decoration: none;
        color: white;
    }



    .our-dogs ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .our-dogs ul li {
        flex: 40%;
    }

    .our-dogs ul li img {
        width: 80%;
    }

    .our-dogs-wrapper,
    .contact {
        width: auto;
    }

    .helpNeed ul {
        flex-direction: column;
    }

}